<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>River Crossing Puzzle</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link rel=stylesheet type=text/css href="main.css"> -->
    <style>
        body { 
           background-color: LightCyan;
         
        } 
        .dot {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        }
      
    </style>
</head>
<body>
  <center>
  <h1 class ="mt-5">River Crossing Problem Solver</h1>
 </center>
  <div class="d-flex justify-content-evenly mt-5 ">
    <div style="width:500px">
      <h2>How to calculate the solution</h2>
      <ul>
      <li> Enter the number of type of soilders for which you want to solve the problem</li>
      <li>Then enter the number of soilders of each type</li>
      <li>Click on the next button to see the subsequent solution</li>
      </ul>
    </div>
    <center>
    <div id="inp" style="width:600px">
     
    <div class="d-flex justify-content-evenly" >
      <input class =" " style="width:400px ; height: 39px" placeholder="Enter the number of type of soilders" style="color:black" name="number" id="soilderType"/>
      <button type="button" class="btn btn-primary ms-1" style=" height: 35px" onclick ="inputEachType()" id="next">Next</button>
      <button type="button" class="btn btn-primary ms-1" style=" height: 35px" onclick ="clearInputs()">Clear</button>
    </div>
  </div>
</center>
  </div>
  <script>
    var num =[];
    var right_num=[],river_num=[];
    var colour =["Coral",'Indigo',"Yellow","DarkCyan","Purple","Orange","DimGray","ForestGreen","HotPink",'DarkRed',];
    var num_steps,step,all_step=[];
    var cs=0; 

    function inputEachType()
    {
      var type = document.getElementById("soilderType");
      type.setAttribute("disabled","disabled");
      var next = document.getElementById("next");
      next.setAttribute("disabled","true");
      type=type.value;
      var outer_cover = document.createElement("div");
      outer_cover.setAttribute("id","soilderInp");
      outer_cover.setAttribute("class", "d-flex align-content-between flex-wrap");
      
      document.getElementById("inp").appendChild(outer_cover);
      for(i=1;i<=type;i++)
      {
        var cover = document.createElement("div");
        cover.setAttribute("class","mt-3 ms-5");
        var c = document.createElement("span");
        c.setAttribute("class","dot ");
        c.setAttribute("style","background-color : "+colour[i-1]);
        cover.appendChild(c);
        var inp = document.createElement("INPUT");
        inp.setAttribute("class","ms-2");
        inp.setAttribute("placeholder", "Number of soilder of type " + i);
        inp.setAttribute("id","type_"+i);
        cover.appendChild(inp);
        outer_cover.appendChild(cover);
      }
      var cover = document.createElement("div");
      cover.setAttribute("class","mt-3 ms-5");
      var cal =document.createElement("button");
      cal.setAttribute("class" ,"btn btn-primary mt-3");
      cal.setAttribute("onclick","getAnswer()");
      cal.setAttribute("id","cal_button");
      cal.innerHTML = "Calculate!!";
      document.getElementById("inp").appendChild(cal);
      outer_cover.appendChild(cover);
    }

    function clearInputs()
    {
      if(document.getElementById("soilderInp"))
      document.getElementById("soilderInp").remove();
      if(document.getElementById("demo"))
      document.getElementById("demo").remove();
      if(document.getElementById("nxt"))
      document.getElementById("nxt").remove();
      if(document.getElementById("cal_button"))
      document.getElementById("cal_button").remove();
      if(document.getElementById("nosol"))
      document.getElementById("nosol").remove();
      var type = document.getElementById("soilderType");
      // type.innerHTML=NULL;
      type.removeAttribute("disabled"); 
      document.getElementById("next").removeAttribute("disabled");
      num =[],right_num=[],river_num=[],all_step=[], cs=0; 
    }

    function set_state()
    {
      var ele =document.getElementsByName("dots"+(cs-1));
      console.log(ele);
      console.log(num,river_num,right_num);
      var len = ele.length;
      if(len>0)
      {
        for(var i=ele.length-1;i>=0;i--)
        {
            ele[i].parentNode.removeChild(ele[i]);
        }
      }
      for(var i = 0;i<=num.length;i++)
      {
        if(num[i])
        {
          for(var ii= 0 ;ii<num[i];ii++)
          {
            var c = document.createElement("span");
            c.setAttribute("class","dot m-2");
            c.setAttribute("style","background-color : "+colour[i]);
            c.setAttribute("name","dots"+cs);
            document.getElementById("left").appendChild(c);
          }
        }
    
        if(right_num[i])
        {
          for(var ii= 0 ;ii<right_num[i];ii++)
          {
            var c = document.createElement("span");
            c.setAttribute("class","dot m-2");
            c.setAttribute("style","background-color : "+colour[i]);
            c.setAttribute("name","dots"+cs);
            document.getElementById("right").appendChild(c);
          }
        }
        if(river_num[i])
        {
          for(var ii= 0 ;ii<river_num[i];ii++)
          {
            var c = document.createElement("span");
            c.setAttribute("class","dot m-2");
            c.setAttribute("style","background-color : "+colour[i]);
            c.setAttribute("name","dots"+cs);
            document.getElementById("river").appendChild(c);
          }
        }
      }
    }

    function next_state()
    {
      var change = all_step[cs];
      cs++;
      if(change["left"][0]!="n")
      {
        if(change["left"][0]=="a")
        {
          num[change["left"][1]-1]++;
          if(change["left"].length >2)
            num[change["left"][2]-1]++;
        }
        else
        {
          num[change["left"][1]-1]--;
          if(change["left"].length >2)
            num[change["left"][2]-1]--;
        }
      }
      if(change["right"][0]!="n")
      {
        if(change["right"][0]=="a")
        {
          right_num[change["right"][1]-1]++;
          if(change["right"].length >2)
            right_num[change["right"][2]-1]++;
        }
        else
        {
          right_num[change["right"][1]-1]--;
          if(change["right"].length >2)
            right_num[change["right"][2]-1]--;
        }
      }

      if(change["river"][0]!="n")
      {
        if(change["river"][0]=="a")
        {
          river_num[change["river"][1]-1]++;
          if(change["river"].length >2)
            river_num[change["river"][2]-1]++;
        }
        else
        {
          river_num[change["river"][1]-1]--;
          if(change["river"].length >2)
            river_num[change["river"][2]-1]--;
        }
      }
      set_state();
      if(cs ==all_step.length)
      document.getElementById("nxt").setAttribute("disabled","true");
    }

    function create_img()
    {
      
      var cover2 = document.createElement("div");
      cover2.setAttribute("class","d-flex justify-content-center mt-5");
      cover2.setAttribute("id","demo");
      var left = document.createElement("div");
      left.setAttribute("id","left");
      left.setAttribute("class","d-flex  align-items-center flex-wrap justify-content-end");
      left.setAttribute("style","background-color : MediumSeaGreen ; width :300px; height:300px");
      var right = document.createElement("div");
      right.setAttribute("id","right");
      right.setAttribute("class","d-flex align-items-center flex-wrap justify-content-start");
      right.setAttribute("style","background-color : MediumSeaGreen ; width :300px; height:300px");
      var river = document.createElement("div");
      river.setAttribute("id","river");
      river.setAttribute("class","d-flex  align-items-center flex-wrap justify-content-center");
      river.setAttribute("style","background-color : Aquamarine ; width :300px; height:300px");
      cover2.appendChild(left);
      cover2.appendChild(river);
      cover2.appendChild(right);
      document.body.appendChild(cover2);
      set_state();
      var nxtdiv =document.createElement("div")
      // nxtdiv.setAttribute("class","d-flex justify-content-evenly")
      var nxt = document.createElement("button");
      nxt.setAttribute("id","nxt");
      nxt.setAttribute("class","btn btn-primary mt-3");
      nxt.setAttribute("onclick","next_state()");
      nxtdiv.setAttribute("align","center");
      nxt.innerHTML= "Next";
      nxtdiv.appendChild(nxt);
      document.body.appendChild(nxtdiv);
    }

    function getAnswer()
    {
      var type = document.getElementById("soilderType").value;
      
      for(i=1;i<=type;i++)
      {
        num.push(document.getElementById("type_"+i).value);
      }
      axios.post('http://0.0.0.0:3000/getSolution',{ number: document.getElementById("soilderType").value , values :num })
      .then((res)=>{
        num_steps = res.data[1];
        step = res.data[0];
        right_num = new Array(num.length).fill(0);
        river_num = new Array(num.length).fill(0);
        var t=0; 
        for(var i=0;i<num_steps;i++)
        {
          if(t==0)//L->R
          {
            {
              var curr =[];
              var l=[],r=[],ri=[];
              l.push('s',step[i][0],step[i][1]);
              ri.push('a',step[i][0],step[i][1]);
              r.push('n');
              curr["left"]=l;
              curr["right"]=r;
              curr["river"]=ri;
              all_step.push(curr);
            }
            {
              var curr =[];
              var l=[],r=[],ri=[];
              r.push('a',step[i][0],step[i][1]);
              ri.push('s',step[i][0],step[i][1]);
              l.push('n');
              curr["left"]=l;
              curr["right"]=r;
              curr["river"]=ri;
              all_step.push(curr);
            }
            t=1;
          }
          else//R->L
          {
            {
              var curr =[];
              var l=[],r=[],ri=[];
              r.push('s',step[i][0]);
              ri.push('a',step[i][0]);
              l.push('n');
              curr["left"]=l;
              curr["right"]=r;
              curr["river"]=ri;
              all_step.push(curr);
            }
            {
              var curr =[];
              var l=[],r=[],ri=[];
              l.push('a',step[i][0]);
              ri.push('s',step[i][0]);
              r.push('n');
              curr["left"]=l;
              curr["right"]=r;
              curr["river"]=ri;
              all_step.push(curr);
            }
            t=0;
          }
        }
        
        if(!num_steps)
        {
          var nosol = document.createElement("h4");
          nosol.innerHTML="No solution is possible!";
          nosol.setAttribute("id","nosol");
          nosol.setAttribute("class","mt-3");
          document.getElementById("inp").appendChild(nosol);
        }
        else
        {
          create_img();
        }
      })
    }

    

    

  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>

</html>
